*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fafafa;
  color: #333;
}

input:focus, textarea:focus {
  border-color: #d81b60 !important;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}
